<footer>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Company</a></li>
        <li role="presentation"><a href="/about">About</a></li>
        <li role="presentation"><a href="#">Careers</a></li>
        <li role="presentation"><a href="#">Contact Us</a></li>
        <li role="presentation"><a href="https://github.com/aapr/PW-20095528">Github</a></li>
    </ul>
</footer>