<nav class="topbar">
        <ul>
            <li class="right"><a href="./">Home</a></li>
            <li><a href="complex">Complex</a></li>
            <li><a href="#">Ingredients</a></li>
        </ul>
        {{!--class="nav navbar-nav"--}}
        {{!--navbar navbar-default --}}
    {{!-- collapse navbar-collapse" id="bs-example-navbar-collapse-1"--}}
</nav>