<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=100%, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/custom.css">
    {{>header}}
</head>
<body>
    <div class='page-header'>
        <title>Example App</title>
        <p class='helpers'>Is the helper correctly implemented? -{{foo}}</p>
    </div>
	{{> navbar}}
    <div class="container">
        
        <br> {{{body}}}
    </div>
    {{>footer}}
</body>
</html>