<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/custom.css">
    {{>header}}
</head>
<body>
    <div class='page-header'>
        <title>Example App</title>
        <p class='lead'>Is the helper correctly implemented? -{{foo}}</p>
    </div>
	{{> navbar}}
    <div class="container">
         {{{body}}}
    </div>
    {{>footer}}
</body>
</html>