<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{>header}}
    <div class='page-header'>
        <title>Example App</title>
        <p class='lead' style="text-align:center; font-size:16px; color:limegreen; background:black;">Is the helper correctly implemented? -{{foo}}</p>
    </div>
</head>
<body>
	{{> navbar}}
    <div class="container">
         {{{body}}}
    </div>
    {{>footer}}
</body>
</html>