<button class="button" type="button" onclick=recipe()> Get Pizza Recipe!</button>

<div id="json"></div>

<script>
    
    var recipe = function(){
        
        var xmlhttp = new XMLHttpRequest();
        
        xmlhttp.open("GET", "ingredients/pizza", true);
        xmlhttp.send();
        
        xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                /*console.log(JSON.parse(this.responseText));*/
                response(JSON.parse(this.responseText));
            } else if (this.readyState == 4 && this.status == 404) {
                
            }
        };
        
        var response = function(data){
            var j_data = data;
            var div = document.getElementById('json');
            
            div.innerHTML = "";
            
            for(var recipe in j_data){
                console.log(j_data[recipe]);
                var ul = document.createElement('ul');
                for(var ingredient in j_data[recipe]){
                    if(j_data[recipe][ingredient].name != undefined){
                        var li = document.createElement('li');
                        li.innerHTML = j_data[recipe][ingredient].name;
                        ul.appendChild(li);
                    }
                }
                div.appendChild(ul);
            }
        };
    };

</script>